.header {
  width: 35%;
  height: 400px;
  margin: 200px 30px 200px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: orange;
  color: #ffffff;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-dark.png);
}

.image-container {
  margin-top: 40px;
}

.header-name-box {
  margin-top: 0.5em;
  font-size: 1.5em;
}
