.nav {
  background-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding-top: 50px;
  height: 500px;
  margin: 0;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}
